.title {
	text-align: center;
	font-size: 8vh;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

.wrapper {
	text-align: center;
}

.button {
	position: absolute;
	top: 50%;
}